*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;


}

.container {
    max-width: 350px;
    margin: auto;
    margin-top: 4%;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    margin-left: 100px;
    padding-left: 0px;
    border-radius: 5%;
}
img{
    max-width: 100%;
    border-radius: 50% ;
}
.net-header {
    border: 1 px solid #ccc;
    width: 100%;
    height: 15vh;
    border-bottom: none;
    display: inline-block;
    background-color: #007bff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.net-header-img{
    border-radius: 50%;
    width: 40px;
    margin-left: 4%;
    margin-top: 12px;
    float: left;

}
/*.active{
    width: 120px;
    float: left;
    margin-top: 10px;


}*/
.active h4{
    font-size: 20px;
    margin-left: 10px;
    color: #fff;
    margin-top: 30px;
}
.active h6{
    font-size: 10px;
    margin-left: 10px;
    color: #fff;
    line-height: 2px;
}
.header-icons{
   width: 120px;
    float: right;
    margin-top: -21px;
    margin-right: -10px; 
    display: flex;
}
.header-icons .fa-solid{
    color: #fff;
    cursor: pointer;
    margin: 10px;

}




.btn-secondary {
    color: #007fff;
    background-color: #0087ff;
    border-color: #0087ff;

}

.network-page{
    padding: 0 0 50px 0;

}
.net-inbox{
    border: 1px solid #ccc;
    overflow: hidden;
    padding-bottom: 30px;
    height: 100vh;
}
.networks{
    padding: 30px 15px 0 25px;
}
.net-page{
    height: auto;
    width: ;
    overflow-y: auto;
}
.received-networks-net{
    display: inline-block;
    width: 20px;
    float: left;
}
.received-net{
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;

}
.received-net-inbox{
    width: 57%;
}
.received-net-inbox p{
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.time{
    color: gray;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.max{
    line-height: 30px;
}
.remove a{
    text-decoration: none;
}

.wrapper {
    background: #fff;
    width: 100%;
    border-bottom-left-radius: 5px;
    height: 100%;
    border-bottom-right-radius: 5px;
    box-shadow: 0 0 128px rgb(0 0 0 / 10%), 0 32px 64px -48px rgb(0 0 0 / 50%);
}



.users {
    padding: 15px 15px;
    min-width: 300px;
    height: 555px;
    width: 350px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.users header,
.users-list a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 20px;
}
.wrapper img{
    object-fit: cover;
    border-radius: 50%;
}
/*:is(.users, .users-list).content{
    display: flex;
    align-items: center;
}*/

.users header .content,
.users-list a .content{
    display: flex;
}
.users header .content img{
    height: 50px;
    width: 50px;
}
/*.users header .details{
    margin-left: 15px;
}*/
:is(.users, .users-list) .details{
    margin-left: 15px;
    color: #000;
}
/*.users header .details span{
    font-size: 18px;
    font-weight: 500;
}*/
:is(.users, .users-list) .details span{
    font-size: 18px;
    font-weight: 500;
}
.users header .logout{
    background: #333;
    color: #fff;
    padding: 7px 15px;
    font-size: 17px;
    border-radius: 5px;
}
.users .search{
    margin: 20px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.users .search .text{
    font-size: 18px;
}
.users .search input{
    position: absolute;
    height: 42px;
    width: calc(100% - 50px);
    border: 1px solid #ccc;
    padding: 0 13px;
    font-size: 16px;
    border-radius: 5px 0 0 5px;
    outline: none;


}
a {
    text-decoration: none;
}
.users .search button{
    width: 47px;
    height: 42px;
    border: none;
    outline: none;
    color: #fff;
    background: #333;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    font-size: 17px;
}

.users-list {
    max-height: 500px;
    overflow-y: auto;
    min-height: 500px;
    height: 500px;
}
.users::-webkit-scrollbar{
    width: 0px;

}
.users-list a{
    padding-right: 15px;
    margin-bottom: 15px;
    page-break-after: 10px;
    border-bottom-color: #f1f1f1;

}
.users-list a:last-child{
    border: none;
    margin-bottom: 0px;

}
.users-list a .content img{
    height: 40px;
    width: 40px;

}
.users-list a .content p{
    color: #67676a;
}
.users-list a .status-dot{
    font-size:  12px;
    color: #468669;

}
#users-type{
list-style-type: none;
  padding: 0;
  margin: 0;
}

.mesage-bottom{
    padding-top: 10px;
}


.textarea-control {
    height: 200px;
    width: 100%;
    max-width: 100%;
    max-height: 100px;
    min-width: 100%;
    min-height: 150px;
    border-radius: 5px 5px 5px 5px;
    font-size: 17px;
    border-color: black;
}
.net-icons{
    float: right;
    padding: 2px;
    margin: auto;
}
.net-icons .fa{
    color: blue;
    padding-right: 20px;

}
.net-icons .fa:hover{
    color: black;
    cursor: pointer;
}




//Container-2


.container-1{
    max-width: 650px;
    margin-top: 4%;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    margin-left: 500px;
}
img{
    max-width: 100%;
    border-radius: 50% ;
}
.net-header-1 {
    border: 1 px solid #ccc;
    width: 100%;
    height: 10%;
    border-bottom: none;
    display: inline-block;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-bottom: 15px;
}

    
.net-header-1-img{
    border-radius: 50%;
    width: 40px;
    margin-left: 4%;
    margin-top: 12px;
    float: left;

}
/*.active{
    width: 120px;
    float: left;
    margin-top: 10px;


}*/
.heading-conn-1 h6{
    text-align: left;

}
.card-from{
    padding-top: 10px;
}

.card-body h5,h6{
    text-align: center;
}
.card-body p{
    text-align: center;
    font-size: 12px;
}
.card-body .btn{
    display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  
    
}
.active-1 h4 {
    font-size: 20px;
    margin-left: 10px;
    color: #000;
    padding-top: 15px;
    display: inline-block;
}
.active-1 h6{
    font-size: 10px;
    margin-left: 10px;
    color: #fff;
    line-height: 2px;
}
.active-1 span{
    text-align: right;
}
.active-1 a {
    text-decoration: none;
    padding-left: 500px;
}

.card-img, .card-img-top {
    /*border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);*/
}

element.style {
    width: 13rem;
}

.card {
    position: relative;
    display: inline-block;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}
.card img{
    height: 130px;
}

a {
    color: #000000;
    text-decoration: none;
}


.header-icons{
   width: 120px;
    float: right;
    margin-top: -21px;
    margin-right: -10px; 
    display: flex;
}
.header-icons .fa-solid{
    color: #fff;
    cursor: pointer;
    margin: 10px;

}




.btn-primary {
    color: #1626e4;
    background-color: #ffffff;
    border-color: #056aff;
}

.card btn:hover{
    background-color: black;
}


.net-inbox-1 {
    border: 1px solid #ccc;
    overflow: hidden;
    padding-bottom: 30px;
    padding-top: 10px;
    padding-left: 35px;
    border-radius: 5px;
}
.networks{
    padding: 30px 15px 0 25px;
}
.network-page-1 {
    padding: 0 0 50px 10;
    padding-top: 10px;
}
.net-page-1{
    height: 516px;
    width: ;
    overflow-y: auto;
}
.received-net-1{
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;

}
.received-net-inbox-1{
    width: 57%;
}
.received-net-inbox-1 p{
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 5px 10px 5px 12px;
    width: 100%;
}
.time{
    color: gray;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.max{
    line-height: 30px;
}
.remove a{
    text-decoration: none;
}