*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;


}

.container {
    max-width: 800px;
    margin: auto;
    margin-top: 4%;
    font-family: sans-serif;
    letter-spacing: 0.5px;
    margin-left: 100px;
    padding-left: 0px;
    border-radius: 5%;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    margin-bottom: 10px;
}
.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
    height: 200px;
}

.card .profile-img img {
    margin-left: 40px;
    margin-top: -50px;
    border-radius: 50%;
}
.profile-body{
  padding-left: 15px;
}
.profile-discription{
    display: block;
}


.collage-info {
    display: inline-flex;
    float: right;
    margin-top: -90px;
    padding-right: 15px;
}
.collage-info img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}
.connection{
    font-size: 14px;
}
.address{
    font-size: 14px;
}
.contact{
    font-size: 15px;
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.profile-btn{
    padding-bottom: 20px;
}
.mutual-connection{
    font-size: 14px;
}
.mutual-connection img{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.girl-img{
    margin-left: -20px;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    padding-top: 10px;
}
.experience-details{

    
}
.experience-details img {
    height: 50px;
    width: 50px;
    margin-top: 5px;
}
.experience-details a{
    cursor: pointer;
    text-decoration: none;
}
.experience-des {
    margin-top: -50px;
    margin-left: 80px;
    line-height: 9px;
}
.experience-des .title{
    font-size: 15px;

}
.experience-des p {
    font-size: 14px;
    line-height: 10px;
    color: #6c757d;
}
.experience-details .time {
    font-size: 14px;
    line-height: 0px;
    color: #6c757d;
}
.experience-des .address{
    font-size: 14px;
    line-height: 0px;
    color: #6c757d;
}

.education-details img {
    height: 50px;
    width: 50px;
    margin-top: 5px;
}
.education-details a{
    cursor: pointer;
    text-decoration: none;
}
.education-des {
    margin-top: -50px;
    margin-left: 80px;
    line-height: 9px;
}
.education-des .title {
    font-size: 15px;
    color: #1a1a1a;
}
.education-des p {
    font-size: 14px;
    line-height: 10px;
    color: #6c757d;
}
.education-details .time {
    font-size: 14px;
    line-height: 0px;
    color: #6c757d;
}
a{
    text-decoration: none;
    cursor: pointer;
}
hr:not([size]) {
    height: 1px;
    color: #6c757d;
}
.project-des p{
    font-size: 14px;
    line-height: 10px;
    color: #6c757d;
}

.certification-details {
    margin-bottom: 35px;
}
.certification-details img{
    height: 50px;
    width: 50px;
}
.certication-des p{
    font-size: 14px;
    line-height: 0px;
    color: #6c757d;
}
.certication-des {
    margin-top: -50px;
    margin-left: 70px;
}

.card-title {
    margin-bottom: 0.5rem;
    font-weight: bold;
}